Fonts/
audiogroup1.dat
audiogroup2.dat
sdl2.txt
controllerblacklist.csv
controllertypes.csv
data.win
execute_shell_simple_ext_x64.dll
I Wanna Start A Party.exe
I Wanna Start A Party.zip
languages.tsv
options.ini
sdl2.txt